@font-face {
  font-family: "SaolDisplay-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("./assets/fonts/SaolDisplay-Regular.eot");
  src: url("./assets/fonts/SaolDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/SaolDisplay-Regular.woff2") format("woff2"),
    url("./assets/fonts/SaolDisplay-Regular.woff") format("woff"),
    url("./assets/fonts/SaolDisplay-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "PlayfairDisplay-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("./assets/fonts/PlayfairDisplay-Regular.eot");
  src: url("./assets/fonts/PlayfairDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("./assets/fonts/PlayfairDisplay-Regular.woff") format("woff"),
    url("./assets/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani-Display";
  font-weight: 300;
  font-style: normal;
  src: url("./assets/fonts/Rajdhani-Light.eot");
  src: url("./assets/fonts/Rajdhani-Light.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Rajdhani-Light.woff2") format("woff2"),
    url("./assets/fonts/Rajdhani-Light.woff") format("woff"),
    url("./assets/fonts/Rajdhani-Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Rajdhani-Display";
  font-weight: 700;
  font-style: normal;
  src: url("./assets/fonts/Rajdhani-Bold.eot");
  src: url("./assets/fonts/Rajdhani-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Rajdhani-Bold.woff2") format("woff2"),
    url("./assets/fonts/Rajdhani-Bold.woff") format("woff"),
    url("./assets/fonts/Rajdhani-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Rajdhani-Display";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/Rajdhani-Regular.eot");
  src: url("./assets/fonts/Rajdhani-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Rajdhani-Regular.woff2") format("woff2"),
    url("./assets/fonts/Rajdhani-Regular.woff") format("woff"),
    url("./assets/fonts/Rajdhani-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Rajdhani-Display";
  font-weight: 500;
  font-style: normal;
  src: url("./assets/fonts/Rajdhani-Medium.eot");
  src: url("./assets/fonts/Rajdhani-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Rajdhani-Medium.woff2") format("woff2"),
    url("./assets/fonts/Rajdhani-Medium.woff") format("woff"),
    url("./assets/fonts/Rajdhani-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Rajdhani-Display";
  font-weight: 600;
  font-style: normal;
  src: url("./assets/fonts/Rajdhani-SemiBold.eot");
  src: url("./assets/fonts/Rajdhani-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Rajdhani-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/Rajdhani-SemiBold.woff") format("woff"),
    url("./assets/fonts/Rajdhani-SemiBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "GowunBatang";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/GowunBatangRegular.eot");
  src: url("./assets/fonts/GowunBatangRegular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/GowunBatangRegular.woff2") format("woff2"),
    url("./assets/fonts/GowunBatangRegular.woff") format("woff"),
    url("./assets/fonts/GowunBatangRegular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GowunBatang";
  font-weight: 700;
  font-style: normal;
  src: url("./assets/fonts/GowunBatangBold.eot");
  src: url("./assets/fonts/GowunBatangBold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/GowunBatangBold.woff2") format("woff2"),
    url("./assets/fonts/GowunBatangBold.woff") format("woff"),
    url("./assets/fonts/GowunBatangBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GowunBatang";
  font-weight: 700;
  font-style: normal;
  src: url("./assets/fonts/GowunBatangBold.eot");
  src: url("./assets/fonts/GowunBatangBold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/GowunBatangBold.woff2") format("woff2"),
    url("./assets/fonts/GowunBatangBold.woff") format("woff"),
    url("./assets/fonts/GowunBatangBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GowunDodum";
  font-weight: normal;
  font-style: normal;
  src: url("./assets/fonts/GowunDodumRegular.eot");
  src: url("./assets/fonts/GowunDodumRegular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/GowunDodumRegular.woff2") format("woff2"),
    url("./assets/fonts/GowunDodumRegular.woff") format("woff"),
    url("./assets/fonts/GowunDodumRegular.ttf") format("truetype");
  font-display: swap;
}
