@charset "utf-8";
@import url(common.css);

#main {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.select_style1 {
  border: 0;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  color: var(--black);
}
.input_style2 {
  border: 0;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  box-sizing: border-box;
}
.btn_style3 {
  border: 0;
  background: #fff;
  border-radius: 0.5rem;
  color: var(--black);
  padding: 1rem 3rem;
  font-size: 1.6rem;
  cursor: pointer;
}
.btn_style4 {
  border: 0;
  background: var(--green);
  border-radius: 0.5rem;
  color: #fff;
  padding: 1rem 3rem;
  font-size: 1.6rem;
}
.btn_style4:hover {
  color: white;
}

#board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  margin-top: 70vh;
}
.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  margin-top: 70vh;
}
.board__search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.board__search .left {
  font-size: 1.6rem;
  width: 40%;
}
.board__search .left em {
  color: var(--green);
}
.board__search .right {
  width: auto;
  text-align: right;
}
.board__search .right .btn {
  width: 10rem;
}
.board__table {
  width: 100%;
}
.board__table table {
  width: 100%;
  margin: 0 auto;
  border-top: 0.2rem solid var(--green);
  border-bottom: 0.2rem solid var(--green);
  font-size: 1.6rem;
}
.board__table td,
.board__table th {
  padding: 1.5rem 0.5rem;
  border-bottom: 0.1rem solid var(--green);
}
.board__table th {
  font-weight: 500;
  background-color: var(--green);
  color: white;
}
.board__table td {
  text-align: center;
}

.board__table tr:hover {
  background-color: var(--green);
  color: white;
  cursor: pointer;
}

.board__pages {
  margin: 7rem 0;
}

.board__pages ul {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board__pages ul li a {
  border: 0.1rem solid var(--green);
  padding: 1.5rem 1.5rem;
  font-size: 1.6rem;
  margin-right: -1px;
}

.board__pages ul li.active a {
  background: var(--green);
  color: #fff;
}

.board__inner {
  width: 100%;
}
.board__view {
  width: 100%;
}
.board__view table {
  width: 100%;
  border-top: 0.2rem solid var(--green);
  border-bottom: 0.2rem solid var(--green);
  font-size: 1.6rem;
}

.board__view th,
.board__view td {
  padding: 2rem;
  border-bottom: 0.1rem solid var(--green);
}

.board__view th {
  background-color: var(--green);
  color: white;
  font-weight: 500;
}

.board__view td {
  line-height: 1.5;
}

.board__view td.height {
  min-height: 50rem;
  display: block;
  border-bottom: 0;
}

.board__btn {
  text-align: right;
  margin-bottom: 2rem;
}

.board__btn a {
  background: var(--green);
  color: #fff;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  box-sizing: border-box;
  margin-top: 2rem;
}

.board__write label {
  width: 100%;
  display: block;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.board__write input {
  display: block;
  border: 0;
  background-color: white;
  width: 100%;
  border-radius: 0.5rem;
  padding: 2rem 3rem;
  font-size: 1.8rem;
  font-weight: 300;
  box-sizing: border-box;
  margin-bottom: 3rem;
  outline: none;
}

.board__write textarea {
  width: 100%;
  resize: none;
  border: 0;
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
  font-size: 1.6rem;
  font-weight: 300;
  box-sizing: border-box;
  outline: none;
}
.board__write .btn {
  background: var(--green);
  color: #fff;
  padding: 1rem 7rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  box-sizing: border-box;
  margin: 2rem auto;
  cursor: pointer;
  display: flex;
}

.board__modify label {
  width: 100%;
  display: block;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.board__modify input {
  display: block;
  border: 0;
  background-color: white;
  width: 100%;
  border-radius: 0.5rem;
  padding: 2rem 3rem;
  font-size: 1.8rem;
  font-weight: 300;
  box-sizing: border-box;
  margin-bottom: 3rem;
  outline: none;
}

.board__modify textarea {
  width: 100%;
  resize: none;
  border: 0;
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
  font-size: 1.6rem;
  font-weight: 300;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 3rem;
}

.board__modify .btn {
  background: var(--green);
  color: #fff;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 3rem;
}

.board__title h3 {
  font-size: 4.5rem;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.board__title p {
  font-size: 2rem;
  margin-bottom: 8rem;
  font-weight: 300;
}
