@charset "utf-8";
@import url(./common.css);

.container::-webkit-scrollbar {
  display: none;
}

#sectionPin {
  height: 100vh;
  overflow: hidden;
  display: flex;
  left: 0;
}

.pin-wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.box {
  width: 50vw;
  height: 100vh;
}

.int {
  position: relative;
  display: flex;
  background: var(--theme);
}
.box.intro .project__title {
  padding-left: 3rem;
  height: 50%;
  line-height: 50vh;
}
.box.intro .project__title h1 {
  font-size: 5vw;
  font-family: "Bodoni Moda";
  letter-spacing: -0.2rem;
}
.box.intro .project__title h1 em {
  color: var(--green);
  font-family: "Now";
}
.box.intro .box__bottom {
  padding-left: 3rem;
  padding-bottom: 5rem;
  height: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.box.intro .box__bottom .intro__info li {
  display: flex;
  margin-bottom: 1.5vw;
  font-size: 1.6rem;
}
.box.intro .box__bottom .intro__info li:last-child {
  margin-bottom: 0;
}
.box.intro .box__bottom .intro__info li .gray {
  width: 10vw;
  color: var(--gray);
}
.box.intro .box__bottom .intro__btn {
  margin-right: 4vw;
}
.box.intro .box__bottom .intro__btn button {
  font-size: 1.3vw;
  margin-right: 3rem;
  color: var(--green);
  border-bottom: 1px solid var(--green);
}
.box.intro .box__bottom .intro__btn button:last-child {
  margin-right: 0;
}

.box.infoImg img:first-child {
  height: 100%;
  object-fit: cover;
}
.box.infoImg .arrow {
  position: absolute;
  right: 3rem;
  bottom: 1rem;
  width: 7rem;
  z-index: 2;
}

.box.info {
  width: 50vw;
  position: relative;
  padding-top: 5vw;
  padding-right: 3vw;
  padding-left: 3vw;
}
.box.info img {
  position: absolute;
  bottom: -12%;
  right: -8%;
  width: 30vw;
}
.box.info li p {
  font-size: 1.8rem;
  font-family: "IropkeBatang";
}
.box.info li p::before {
  content: "";
  padding-left: 1.5rem;
}
.box.info li {
  margin-bottom: 2rem;
  border: 0.1rem solid var(--gray);
  border-radius: 0.5rem;
  padding: 2rem 2rem;
}

.box.webCont {
  position: relative;
  width: 55vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(216, 207, 194);
  overflow: hidden;
}
.box.webCont img {
  position: absolute;
  width: 90%;
  top: 11%;
}
.box.webCont img:last-child {
  margin-right: 0;
}

.last__box {
  position: relative;
  width: 101vw;
  height: 100vh;
}
.last__box img {
  object-fit: cover;
  height: 100%;
}
.last__box #menu {
  mix-blend-mode: difference;
  color: var(--difb);
}

.leave__btn {
  position: fixed;
  left: 50%;
  bottom: 3%;
  transform: translateX(-50%);
  width: 5rem;
  height: 5rem;
  background: url(../img/project/leave.png) no-repeat center;
  background-size: cover;
  z-index: 1;
  cursor: pointer;
}
.next__btn {
  position: absolute;
  right: 1.5%;
  bottom: 3%;
  width: 5rem;
  height: 5rem;
  background: url(../img/project/next.png) no-repeat center;
  background-size: cover;
  cursor: pointer;
}

/* 0px ~ 1024px */
@media (max-width: 1024px) {
  #sectionPin {
    height: auto;
  }
  .pin-wrap {
    flex-direction: column;
    height: auto;
  }
  .int {
    flex-direction: column;
    width: 100%;
  }
  .box {
    width: 100%;
    height: 50vh;
  }
  .box.intro .box__bottom .intro__info li .gray {
    width: 15rem;
  }
  .int .intro {
    height: 50vh;
  }
  .box.info {
    width: 100%;
  }
  .box.webCont {
    width: 100%;
    height: 100vw;
  }
  .leave__btn {
    width: 6rem;
    height: 6rem;
    bottom: 1%;
  }
  .next__btn {
    width: 6rem;
    height: 6rem;
    right: 3%;
  }
  .box.intro .box__bottom {
    padding-bottom: 3rem;
  }
  .box.intro .project__title {
    padding: 0;
    line-height: 35vh;
  }
  .box.intro .project__title h1 {
    font-size: 7vw;
    text-align: center;
  }
  .box.intro .box__bottom .intro__btn {
    margin: 0;
  }
  .box.intro .box__bottom .intro__btn button {
    font-size: 2rem;
  }
}
/* 0px ~ 678px */
@media (max-width: 678px) {
  .box.intro .project__title h1 {
    font-size: 6rem;
  }
  .box.intro .box__bottom {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .box.intro .box__bottom .intro__info {
    margin-bottom: 5rem;
  }
}
