body {
  background: var(--bg-dark);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  //   background: rgba(255, 255, 255, 0.3);
}

// cont__title
.cont__title {
  padding: 14vmax 0;
  font-size: 80px;
  font-family: var(--font-main);
  color: var(--white);
  line-height: 1;
  text-transform: uppercase;

  strong {
    display: block;
  }
}

// cont__contact
.cont__contact {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--white);
  text-transform: uppercase;

  p {
    font-size: 20px;
    font-family: var(--font-sub2);
    margin-bottom: 20px;
  }
  h3 {
    font-size: 9vw;
    font-family: var(--font-main);
    line-height: 1;
    text-align: center;

    em {
      display: block;
    }
  }
  a {
    font-size: 16px;
    font-family: var(--font-sub2);
    border: 1px solid var(--white);
    border-radius: 50px;
    padding: 1vw 4vw;
    color: var(--white);
  }
}
