body {
    background-color: #F3EDE8;
}

/* 
    로그인 : login__wrap
    회원가입 : join__wrap
    로그아웃 : logout__wrap
    아이디 찾기 : idLook__wrap
    비밀번호 찾기 : pwLook__wrap
*/

#account {
    margin-top: 200px;
}
#account .inner {
    width: 600px;
    min-height: 500px;
    margin: 0 auto;
}

/* 
    등급 설정
*/
