@charset "UTF-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
}
li {
    list-style: none;
}
img {
    width: 100%;
    vertical-align: top;
}

/* wrap */
#wrap {
    width: 1000px;
    display: flex;
}

/* aside */
#aside {
    width: 200px;
}
#aside .logo {
    width: 200px;
    height: 100px;
    background-color: #efefef;
}
#aside .nav {
    width: 200px;
    height: 550px;
    background-color: #e3e3e3;
}

/* main */
#main {
    width: 800px;
    height: 650px;
}

/* slider */
#slider {
    width: 800px;
    height: 350px;
    background-color: #d9d9d9;
}

/* contents */
#contents {
    width: 800px;
    display: flex;
}

/* notice */
#contents .notice {
    width: 300px;
    height: 200px;
    background-color: #d1d1d1;
}

/* gallery */
#contents .gallery {
    width: 300px;
    height: 200px;
    background-color: #c7c7c7;
}

/* banner */
#contents .banner {
    width: 200px;
    height: 200px;
    background-color: #bcbcbc;
}

/* footer */
#footer {
    width: 800px;
    display: flex;
}
#footer .footer1 {
    width: 200px;
    height: 100px;
    background-color: #b1b1b1;
}
#footer .footer2 {
    width: 400px;
    height: 100px;
    background-color: #a3a3a3;
}
#footer .footer3 {
    width: 200px;
    height: 100px;
    background-color: #9d9d9d;
}