@charset "utf-8";
@import url(../css/common.css);

#container {
  min-height: 100vh;
}
.top-space {
  height: 1vh;
}

#about__box {
  margin-top: 60vh;
}
#about__box .layout__img {
  margin-bottom: -1%;
}
#about__box .layout__img:last-child {
  margin-top: -1%;
}
#about__box #about__inner {
  background: var(--black);
  color: white;
}
#about__box #about__inner .about__inner__box {
  width: 85%;
  margin: 0 auto;
  padding: 20vw 0;
}

#about__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#about__info .about__tit {
  width: 100%;
  font-size: 3vw;
  font-family: "Caorgen";
  color: var(--brown);
  margin-bottom: 5rem;
  line-height: 4vw;
}
#about__info .about__tit em {
  margin-top: -5rem;
  font-size: 9vw;
}
#about__info .about__text {
  font-family: "IropkeBatang";
  color: var(--brown);
  margin-top: 5rem;
}
#about__info .about__text h2 {
  color: var(--brown);
  font-weight: 300;
  font-size: 3vw;
  line-height: 1.2;
  margin-bottom: 5rem;
}
#about__info .about__text p {
  width: 50vw;
  font-size: 1.8rem;
  line-height: 1.5;
}
#about__info .about__text p em {
  font-weight: 600;
}
#about__info .about__img {
  position: relative;
  display: flex;
}
#about__info .about__img.res {
  display: none;
}
#about__info .about__img img {
  width: 29vw;
}
#about__info .about__img svg {
  position: absolute;
  left: -120%;
  width: 30vw;
  margin-bottom: 5vw;
  align-self: flex-end;
}
#about__info .text2 {
  margin-top: 18vw;
}
#about__info .text2 .about__tit {
  font-size: 8vw;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 8rem;
  line-height: 1;
}
#about__info .text2 .about__tit div:last-child {
  text-align: right;
}
#about__info .text2 .left__text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7vw;
}
#about__info .text2 .left__text svg {
  margin-top: 3vw;
  width: 50vw;
}
#about__info .text2 p {
  font-size: 1.8rem;
  width: 60%;
  padding-top: 5vw;
}
#about__info .text2 p:last-child {
  padding-top: 3vw;
}
#about__info .text2 .right__text {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#about__info .text2 .right__text .right__text__area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#about__info .text2 .right__text svg {
  padding-left: 5vw;
  width: 35vw;
}
#about__info .text2 .right__text p {
  text-align: right;
}

#about__footer {
  position: relative;
  height: 95vh;
}
#about__footer #menu {
  top: auto;
  bottom: 1%;
}
#about__footer #about__footer__img {
  height: 100%;
  display: flex;
  align-items: center;
}
#about__footer #about__footer__img svg {
  width: 100%;
  height: 45vh;
}

/* 0px ~ 1024px */
@media (max-width: 1024px) {
  #about__box {
    margin-top: 0;
  }
  #about__footer #about__footer__text {
    height: 20vh;
  }
  #about__footer #about__footer__text span {
    font-size: 1.6vw;
  }
  #about__footer #about__footer__text h2 {
    font-size: 10vw;
  }
}
/* 0px ~ 960px */
@media (max-width: 960px) {
  #about__info {
    flex-direction: column;
    align-items: center;
  }
  #about__box #about__inner .about__inner__box {
    width: 90%;
  }
  #about__info .about__tit {
    width: auto;
    font-size: 5vw;
    line-height: 6vw;
  }
  #about__info .about__tit em {
    font-size: 12vw;
  }
  #about__info .about__text {
    margin-bottom: 5rem;
  }
  #about__info .about__text h2 {
    font-size: 4vw;
  }
  #about__info .about__text p {
    font-size: 2.2vw;
    width: 100%;
  }
  #about__info .about__img.res {
    display: block;
  }
  #about__info .about__img.shut {
    display: none;
  }
  #about__info .about__img svg {
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
    width: 75vw;
  }
  #about__info .about__img img {
    z-index: 1;
    width: 25vw;
  }
  #about__info .text2 .about__tit {
    font-size: 10vw;
  }
  #about__info .text2 .left__text {
    flex-direction: column-reverse;
  }
  #about__info .text2 .left__text svg {
    align-self: flex-end;
  }
  #about__info .text2 p {
    width: 80%;
  }
  #about__info .text2 .right__text {
    flex-direction: column;
  }
  #about__info .text2 .right__text p {
    align-self: flex-end;
  }
}
/* 0px ~ 600px */
@media (max-width: 600px) {
  #about__info .about__text {
    width: 100%;
  }
  #about__info .about__tit {
    width: 100%;
    line-height: 1;
  }
  #about__info .about__tit {
    font-size: 7vw;
  }
  #about__info .about__tit em {
    font-size: 14vw;
  }
  #about__info .about__text h2 {
    font-size: 5.5vw;
    margin-bottom: 2rem;
  }
  #about__info .about__text p {
    font-size: 1.8rem;
  }
  #about__info .text2 .left__text {
    margin-bottom: 10rem;
  }
  #about__footer #about__footer__img svg {
    height: 35vh;
  }
}
