@charset "utf-8";

/* font-family: 'Bodoni Moda', serif; (400)*/
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap");

/* font-family: 'Now', sans-serif; (250)*/
@font-face {
  font-family: "Now";
  font-style: normal;
  font-weight: 250;
  src: local("Now"), url("../fonts/now.thin.otf");
}

@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Caorgen";
  src: url("../fonts/adeston.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IropkeBatang";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/iropke/IropkeBatang.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/iropke/IropkeBatang.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/iropke/IropkeBatang.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/iropke/IropkeBatang.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/iropke/IropkeBatang.ttf")
      format("truetype");
  font-display: swap;
}

/* font-family: 'SCoreDream', serif; */
@font-face {
  font-family: "SCoreDream";
  font-weight: 300;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream3.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream3.woff)
      format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SCoreDream";
  font-weight: 400;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream4.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream4.woff)
      format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SCoreDream";
  font-weight: 500;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream5.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream5.woff)
      format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SCoreDream";
  font-weight: 600;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream6.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream6.woff)
      format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SCoreDream";
  font-weight: 700;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream7.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream7.woff)
      format("woff");
  font-display: swap;
}
