@charset "utf-8";
@import url(../css/common.css);

#main {
  position: relative;
  height: 100vh;
}
.res {
  display: none;
}

/* mainBox */
#main__box {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main__box .main__item {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main__box .main__item .main__star img {
  width: 3rem;
  margin-bottom: 3rem;
}
#main__box .main__item.star p {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  word-break: keep-all;
}
#main__box .main__item.vector svg {
  width: 100%;
  max-width: 400px;
  height: 35vh;
}

/* footer sns */
#footer__sns {
  position: absolute;
  bottom: 0;
  margin-bottom: 3rem;
  display: flex;
  padding-left: 3rem;
}
#footer__sns .sns__item {
  margin-right: 1rem;
  cursor: pointer;
}
#footer__sns .sns__item:last-child {
  margin: 0;
}
#footer__sns .sns__item img {
  width: 2.5rem;
}

/* footer text */
#footer__text {
  position: absolute;
  margin-bottom: 3rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#footer__text span {
  font-size: 1.2rem;
}

/* 0px ~ 1024px */
@media (max-width: 1024px) {
  #main {
    height: 100%;
  }
  #main__box {
    position: relative;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: 5rem;
  }
  #main__box .main__item {
    width: 40%;
  }
  #main__box .main__item .main__star img {
    width: 3.5rem;
    padding-bottom: 5rem;
  }
  #main__box .main__item.star p {
    width: 100%;
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }
  #main__box .main__item.vector {
    padding: 5rem 0;
  }
  #main__box .main__item.vector svg {
    max-width: 450px;
    height: 50vh;
  }
}

/* 0px ~ 768px */
@media (max-width: 768px) {
  #main__box {
    margin-top: 5rem;
  }
  #main__box .main__item {
    width: 60%;
  }
  #main__box .main__item .main__star img {
    padding: 0;
  }
  #main__box .main__item.star p {
    margin-bottom: 2rem;
  }
  #footer__sns {
    display: none;
  }
  #footer__text {
    width: 100%;
    text-align: center;
  }
}

/* 0px ~ 640px */
@media (max-width: 640px) {
  #main {
    height: 100vh;
  }
  #main__box .main__item {
    width: 70%;
  }
  #main__box .main__item.vector svg {
    height: 30vh;
  }
}
