@import url(../css/common.css);

#menu {
  top: 95%;
}

#container {
  min-height: 100vh;
  max-width: 100vw;
}
#container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.top-space {
  height: 30vw;
}

#scripts__carousel {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
#scripts__carousel ul {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
}
#scripts__carousel ul li {
  width: 30vw;
}
#scripts__carousel ul li .card {
  position: relative;
  width: 80%;
  height: 32vw;
  margin: 0 auto;
  border: 0.1rem solid var(--green);
  border-radius: 1rem;
  padding: 0.5vw;
  background: url(../img/script/greenCard.png) no-repeat center center;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
}
#scripts__carousel ul li .card .card__bg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 5.5vw;
  width: 100%;
  background: url(../img/script/card.png) no-repeat center center;
  background-size: cover;
}
#scripts__carousel ul li .card img {
  position: absolute;
}
#scripts__carousel ul li .card .tl {
  top: 1.5%;
  left: 1.5%;
}
#scripts__carousel ul li .card .tr {
  top: 1.5%;
  right: 1.5%;
}
#scripts__carousel ul li .card .dl {
  bottom: 1.5%;
  left: 1.5%;
}
#scripts__carousel ul li .card .dr {
  bottom: 1.5%;
  right: 1.5%;
}
#scripts__carousel ul li .card .card__tit {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
#scripts__carousel ul li .card h1 {
  width: 100%;
  text-align: center;
  font-family: "Caorgen";
  font-size: 3vw;
  color: var(--green);
  padding: 0.5vw 0;
  border-top: 0.2rem solid var(--green);
  border-bottom: 0.2rem solid var(--green);
  z-index: 1;
}

#scripts__carousel ul li .card.down {
  margin-top: 10vw;
  background: url(../img/script/card.png) no-repeat center center;
  background-size: cover;
}
#scripts__carousel ul li .card.down .card__bg {
  background: url(../img/script/greenCard.png);
  background-size: cover;
}
#scripts__carousel ul li .card.down h1 {
  color: var(--theme);
  border-top: 0.2rem solid var(--theme);
  border-bottom: 0.2rem solid var(--theme);
}

.scripts__footer {
  position: relative;
  height: 100vh;
}
.scripts__footer svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
}

/* 0px ~ 1024px */
@media (max-width: 1024px) {
  .top-space {
    height: 10vh;
  }
  #scripts__carousel {
    height: auto;
    overflow: visible;
  }
  #scripts__carousel ul {
    position: relative;
    flex-direction: column;
  }
  #scripts__carousel ul li {
    width: 90%;
    margin: 0 auto;
  }
  #scripts__carousel ul li .card {
    height: 30vw;
    margin-bottom: 6vw;
    margin-right: 5rem;
  }
  #scripts__carousel ul li .card.down {
    margin-top: 0;
    margin-left: 5rem;
  }
  #scripts__carousel ul li .card img {
    width: 30vw;
  }
  #scripts__carousel ul li .card h1 {
    font-size: 4vw;
  }
  #scripts__carousel ul li .card .card__bg {
    height: 7vw;
  }
  #scripts__carousel ul li .card .tl {
    top: 2.5%;
    left: 1%;
  }
  #scripts__carousel ul li .card .tr {
    top: 2.5%;
    right: 1%;
  }
  #scripts__carousel ul li .card .dl {
    bottom: 2.5%;
    left: 1%;
  }
  #scripts__carousel ul li .card .dr {
    bottom: 2.5%;
    right: 1%;
  }
  .scripts__footer svg {
    width: 80vw;
  }
}

.popupBG {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.popupBG .lines {
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: -1;
}
.popupBG .lines .line {
  height: 20%;
  width: 100%;
  background: var(--green);
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.popup iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--green);
}
.popup .exit {
  position: absolute;
  top: 3%;
  right: 2%;
  width: 3.5rem;
  height: 3.5rem;
  background: var(--theme);
  border-radius: 50%;
  cursor: pointer;
}
.popup .exit .exit__line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  height: 0.1rem;
  width: 50%;
  background: var(--green);
}
.popup .exit .exit__line:last-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.popup .link {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  min-width: 40%;
}
.popup .link button {
  color: var(--theme);
  font-size: 1.8rem;
  width: 45%;
  padding: 0.5rem 0;
  background: var(--green);
  border: 0.2rem solid var(--black);
}
