/* 여백 초기화 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1, 
h2,
h3,
h4,
h5,
h6,
pre,
code,
fieldset,
form,
legend,
p,
blockquote,
th,
td,
input,
select,
button,
figure, 
figcaption {
    margin: 0;
    padding: 0;
}

/* 시멘틱 태그 초기화 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup, 
menu,
nav,
section {
    display: block;
}

/* 폰트 초기화 */
body,
button,
input,
select,
table,
textarea {
    color: #000;
    font-family: 'NexonLv1Gothic', 'AppleSDGothicNeo-Regular', 'Malgun Gothic', '맑은 고딕', dotum, 돋움;
}

/* 링크 초기화 */
a {
    text-decoration: none;
    color: #000;
}

/* 목록 초기화 */
li,
ol,
ul {
    list-style: none;
}

/* 제목 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 폰트 스타일 초기화 */
em, address {
    font-style: normal;
}

/* 이미지 초기화 */
img {
    width: 100%;
    vertical-align: top;
}

/* 보더 최기화 */
img, fieldset, button {
    border: 0;
}

/* 클리어 픽스 */
.clearfix {
    zoom: 1;
}
.clearfix::before,
.clearfix::after {
    content: '';
    display: block;
    line-height: 0;
}
.clearfix::after {
    clear: both;
}

/* 블라인드 효과 */
.blind {
    width: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
}

/* 이미지 대체(ir) 효과 */
.ir {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px; 
}