/************************
        login.php
*************************/
main #login{
    position: relative;
    display: block;
    width: 100%; height: 100vh;
    margin: calc(1rem - 5px);
    width: calc(100% - 2rem);
    height: calc(100vh - 2rem);
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login__inner {
    width: 450px;
    margin: 0 auto;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}
.login__contents {
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    padding: 50px 0;
    position: relative;
}
.login__contents::before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 100%;
    height: 1px;
    background: #000;
}
.login__contents::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 1px;
    background: #000;
}
.login__contents input {
    margin-bottom: 10px;
}
.login__contents .btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.login__contents .input_style1 {
    border: 0;
    background-color: #f5f5f5;
    width: 100%;
    border: 2px solid black;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 300;
    box-sizing: border-box;
}
.login__contents .btn_style1 {
    display: block;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
    font-size: 20px;
    width: 48%;
    border-radius: 5px;
    cursor: pointer;
}
.login__contents .btn_style2 {
    display: block;
    text-align: center;
    background-color: #fff;
    color: #000;
    border: 2px solid black;
    padding: 15px 30px;
    font-size: 20px;
    width: 48%;
    border-radius: 5px;
    cursor: pointer;
}
.login__footer .desc {
    margin: 30px 0 0;
}
.login__footer .desc ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.login__footer .desc li {
    font-weight: 300;
    font-size: 1.5rem;
}
.login__footer .desc li:first-child {padding-right: 2rem;}
.login__footer .desc .link {
    text-decoration: underline;
    text-underline-position: under;
    font-size: 17px;
}

/************************
        join.php
*************************/
main #join {
    /* width: 100%; height: 100vh; */
    margin: calc(1rem - 5px);
    /* width: calc(100% - 2rem); */
    height: fit-content;
    border: 5px solid black;
    display: flex;
    padding: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.join__inner {
    padding: 0 200px 100px;
}
.join__privacy h3 {
    font-size: 24px;
    margin-bottom: 5px;
}
.join__privacy .privacy {
    background: #dcdcdc;
    padding: 20px;
    width: 750px;
    font-size: 1.1rem;
    margin-bottom: 5px;
    border-radius: 5px;
}
.join__privacy .check {margin-bottom: 40px;}
.join__form label {
    display: block;
    margin: 20px 0 5px;
    font-size: 18px;
}
.join__form div:nth-child(5) label {margin: 20px 0 10px;}
.join__form .comment {
    width: 100%;
    color: #666;
    padding-top: 5px;
    font-weight: 300;
}
.join__form .overlap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.join__form .overlap label {
    width: 100%;
}
.join__form .overlap input {
    width: 70%;
}
.join__form .overlap a {
    width: 27%;
    box-sizing: border-box;
}
.join__form .input_style1 {
    border: 0;
    background-color: #f5f5f5;
    width: 100%;
    border: 2px solid black;
    padding: 15px 10px;
    font-size: 18px;
    font-weight: 300;
    box-sizing: border-box;
}

/***************************
        joinSave.php
****************************/
main #banner{
    position: relative;
    display: block;
    width: 100%; height: 100vh;
    margin: calc(1rem - 5px);
    width: calc(100% - 2rem);
    height: calc(100vh - 2rem);
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner__inner .img {
    align-items: center;
    width: 65%;
}
.banner__inner p {
    font-size: 2rem;
    font-family: 'Lexend';
    text-align: center;
}
.banner__inner .btn {
    width: 65%;
}
